body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #000000;
  color: white;
}

#authSection{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
}

#appSection{
  display: flex;
  justify-items: center;
  justify-content: center;
}

h2, h3 {
  text-align: center;
}

input, button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 14px;
}

input{
  background-color: #999;
  width: 300px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
}

input:focus{
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

input:hover{
  border-color: #ffffff;
}

input::placeholder{
  color: #ffffff;
  font-style: italic;
}

button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button#loginBtn{
  width: 120px;
  border-radius: 20px;
}

button#out{
  background: red;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 120px;
  bottom: 20px;
  position: absolute;
}

button#addTransaction, button#addTransactionTwo{
  background: rgb(67, 67, 255);
  border-radius: 20px;
  width: 120px;
}

button:hover {
  opacity: 0.9;
}

#transactionButton{
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* justify-content: space-between;
  width: 65%; */
}

#transactions {
  list-style: none;
  padding: 0;
}

#transactions li {
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  border: 1px dotted white;
}