body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #000000;
  color: white;
}
 /* style="display:flex;justify-content:center;align-items:center;height:100vh; */

#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

#authSection{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
}

#appSection{
  display: flex;
  justify-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
}

#appSectionTwo{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
}

#appSection nav{
  top: 0px;
  width: 80%;
  background-color: blue;
  border-radius:  0px 0px 25px 25px;
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

#appSectionTwo nav{
  top: 0px;
  width: 80%;
  background-color: blue;
  border-radius:  0px 0px 25px 25px;
  display: flex;
  padding: 5px;
  gap: 10px;
}

h2, h3 {
  text-align: center;
}

input, button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 14px;
}

input{
  background-color: #999;
  width: 300px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
}

input:focus{
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

input:hover{
  border-color: #ffffff;
}

input::placeholder{
  color: #ffffff;
  font-style: italic;
}

button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button#loginBtn{
  width: 120px;
  border-radius: 20px;
}

button#out{
  background: red;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 50px;
  font-size: larger;
}

#out i{
  transform: rotate(180deg);
}

#redir{
  background: rgb(30, 182, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 20px;
  width: 120px;
  bottom: 20px;
  padding: 10px;
  margin: 8px 0;
  width: 120px;
  display: block;
  text-align: center;
}

a#out{
  background: blue;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 20px;
  width: 120px;
  bottom: 20px;
  padding: 10px;
  margin: 8px 0;
  width: 30px;
  display: block;
  text-align: center;
  font-size: larger;
}

button#addTransaction, button#addTransactionTwo{
  background: rgb(67, 67, 255);
  border-radius: 20px;
  width: 120px;
}

button:hover {
  opacity: 0.9;
}

#transactionButton{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#filter{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#filter select{
  background: #000000;
  padding: 6px 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#filter select:focus{
  outline: none;
  border-color: rgb(67, 67, 255);
  box-shadow: 0 0 5px rgba(67, 67, 255, 0.6);
}

#opsi
{
  background: #000000;
  padding: 6px 10px;
  border-radius: 10px;
  gap: 2px;
  color: #ffffff;
}

#transactions {
  list-style: none;
  padding: 0;
}

#transactions li {
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: 1px dotted white;
  width: 270px;
}